*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(182, 175, 175);
  
}
.App {
  text-align: center;
}

.tag{
  margin-top: 100px;
}
.complete{
  text-decoration: line-through;
}
.todo-form{
  margin-top: 20px;
  margin-bottom: 15px;
}
.todo-form input{
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.todo-form button{
  margin-left: 10px; 
  box-sizing: border-box;
  background-color: rgb(151, 70, 151);
  padding: 4px;
}
.button-type{
  margin-top: 20px;
  margin-right: 10px;
  background: none;
  border: none;
  padding: 0;
  margin-bottom: 20px;
}
.button-type:focus,
.button-type:active{
  text-decoration: underline 2px purple;
}
.complete-button-green{
  color: green;
}
.complete-button-red{
  color:brown
}
.todos button{
  padding: 7px;
}
.todos input{
  padding: 7px;
}
